DADS4002 Final Project</br>
Group:Coding</br>
Cafe_database</br>
Member</br>
Latthawan Chantharasukha 6420422015</br>
Witsarut Wongsim 6420422017 </br>
Pajaya Kanjanakaew 6420422028</br>

# Install Libraly

In [ ]:
pip install pyodbc

# Function

In [2]:
#import library
import pyodbc
#Connection string
cnxn = pyodbc.connect('driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=cafe;uid=root;pwd=Acpz5999')
#Write function
def view_topsale_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(Amount) as Rev FROM order_record  \
    INNER JOIN store ON store.Store_ID=order_record.Store_id \
    GROUP BY order_record.Store_id ORDER BY 3 DESC")
    row = cursor.fetchone()
    print ("Revenue by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()
#View
def get_viewlastorder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record ORDER BY order_no desc limit 1") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewmenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  menu") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewcustomer():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  customer") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewstore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  store") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_vieworder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
def view_customer_menu(customer_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.menu_id , menu.menu_name, count(order_record.menu_id) as countmenu \
FROM order_record  \
JOIN menu ON menu.menu_ID=order_record.menu_id \
WHERE customer_id=? \
GROUP BY order_record.menu_id ORDER BY 3 DESC ",(customer_id))
    row = cursor.fetchone()
    print ("customer menu")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [99]:
def get_store():
    ID=False
    store_id=input("'Store_id 4 digit Cxxx:'")
    while ID==False:
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM store WHERE store_id=?",(store_id))
        row = cursor.fetchone()
        if row!=None:
            return (store_id)
        else:
            print("store_ID not in list")
            store_id=input("Plaese Enter Store ID agian:")
            
def get_storename(store_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT store_name FROM store WHERE store_id=?",(store_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('name:',name)
        return(name)
    
def get_store_province(store_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT store_province FROM store WHERE store_id=?",(store_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('province:',name)
        return(name)

In [83]:
get_storename('C020')

name: Coffee's บิ๊กซีสุขาภิบาล3

"Coffee's บิ๊กซีสุขาภิบาล3"

In [100]:
get_store_province('C020')

province: กรุงเทพมหานคร

'กรุงเทพมหานคร'

In [16]:

def get_menu():
    ID=False
    menu_id=input("Menu ID 4number xxxx:")
    while ID==False:
        
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone()
        if row!=None:
            ID=True
            return (menu_id)
        else:
            print("Menu ID not in list")
            menu_id=input("Plaese Enter Menu ID agian:")
    
def get_menuprice(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_SellingPrice FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        price=row[0]
        row = cursor.fetchone()
        print('price:',price)
        return(price)       
def get_menuname(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_name FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('name:',name)
        return(name)
def get_cost(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_cost FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        cost=row[0]
        row = cursor.fetchone()
        print('cost:',cost)
        return(cost)  
def get_member():
    CUS_ID=False
    customer_id=input("customer_id 4number xxxx:")
    if customer_id=='':
        customer_id='0000'
        return (customer_id)
    else:
        while CUS_ID==False:
            cursor = cnxn.cursor()
            cursor.execute("SELECT * FROM customer WHERE customer_id=?",(customer_id))
            row = cursor.fetchone()
            if row!=None:
                return (customer_id)
            else:
                print("customer id ID not in list")
                customer_id=input("Plaese Enter customer_id agian:")  
def get_cusfirstname(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_firstname FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0])
          
def get_cuslastname(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_lastname FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0])  
    
def get_customerage(customer_id):
    
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_age FROM customer WHERE customer_id=?",(customer_id))
    row = cursor.fetchone()
    if row!=None:
        print(row[0])
        return (row[0]) 
       
def get_discount(customer_id):
    if customer_id!='0000':
        discount=(quantity*price)*0.1
        order_point=1
        print('discount',discount)
        return (discount,order_point)
    else:
        discount=0
        order_point=0
        print('no discount',discount)
        return(discount,order_point)
def get_orderno():
        
    cursor = cnxn.cursor()
    cursor.execute("SELECT Order_NO FROM menu ")
    row = cursor.fetchone()
    while row:
        price=row[0]
        row = cursor.fetchone()
        print('price:',price)
        return(price) 
def get_profit():
    amount=(price*quantity-discount) 
    profit= amount-(cost*quantity)
    return (profit,amount)
def print_slip():
    print('********************************')
    print('customer ID',customer_id)
    print('menu:',name)
    print('Quantity',quantity)
    print('Price',price)
    print('Total before discount',price*quantity)
    print('Discount',discount)
    print('Amount',amount)
    print('Point',order_point)
    print('********************************')

def get_customerpoint(customer_id):
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id , SUM(order_point) From order_record WHERE customer_id=? ",(customer_id))
    row = cursor.fetchone()
    while row:        
        a,b=row
        row = cursor.fetchone()
        return (print("Customer point:",b))

def get_royalty():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 10 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        print(row)
        row = cursor.fetchone()


def get_royalty_list():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 11 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        row = cursor.fetchone()
        cus.append(row)
    return(cus)
  

def royalty_list():
    id_list=get_royalty_list()
    royalty_list=[]
    i=0
    for i in range (len(id_list)-1):
        royalty_list.append(id_list[i][0])
    return (royalty_list)
def fav_rayalty_menu(): 
    id_list=get_royalty_list()
    i=0
    for i in range (len(id_list)-1):
        print(id_list[i][0],"\n",view_customer_menu(id_list[i][0]))

ณัฐมน

'ณัฐมน'

# View Table

order_record

In [2]:
get_vieworder()

(1, datetime.datetime(2022, 5, 21, 16, 45, 38), 1, '0002', '0003', 5.5, 24.5, 49.5, 1, 'C023')
(2, datetime.datetime(2022, 5, 21, 16, 46, 9), 1, '0001', '0003', 3.5, 11.5, 31.5, 1, 'C022')
(3, datetime.datetime(2022, 5, 21, 16, 46, 24), 1, '0004', '0003', 4.5, 15.5, 40.5, 1, 'C023')
(4, datetime.datetime(2022, 5, 21, 16, 46, 52), 1, '0001', '0001', 3.5, 11.5, 31.5, 1, 'C001')
(5, datetime.datetime(2022, 5, 21, 16, 47, 11), 1, '0004', '0000', 0.0, 20.0, 45.0, 0, 'C023')
(6, datetime.datetime(2022, 5, 21, 16, 48, 27), 1, '0003', '0005', 6.0, 24.0, 54.0, 1, 'C020')
(7, datetime.datetime(2022, 5, 21, 16, 54, 12), 2, '0002', '0001', 11.0, 49.0, 99.0, 1, 'C022')
(8, datetime.datetime(2022, 5, 21, 17, 18, 5), 1, '0001', '0006', 3.5, 11.5, 31.5, 1, 'C002')
(9, datetime.datetime(2022, 5, 21, 17, 21, 5), 1, '0010', '0006', 5.0, 15.0, 45.0, 1, 'C002')
(10, datetime.datetime(2022, 5, 21, 17, 22), 1, '0008', '0007', 5.5, 14.5, 49.5, 1, 'C002')
(11, datetime.datetime(2022, 5, 21, 17, 22, 22), 1, '0007', '0007', 5.0, 15.0, 45.0, 1, 'C002')
(12, datetime.datetime(2022, 5, 21, 17, 22, 56), 1, '0002', '0007', 5.5, 24.5, 49.5, 1, 'C002')
(13, datetime.datetime(2022, 5, 21, 17, 23, 15), 1, '0036', '0008', 5.0, 15.0, 45.0, 1, 'C003')
(14, datetime.datetime(2022, 5, 21, 17, 23, 42), 1, '0044', '0008', 5.0, 20.0, 45.0, 1, 'C003')
(15, datetime.datetime(2022, 5, 21, 17, 24, 7), 1, '0045', '0009', 4.5, 20.5, 40.5, 1, 'C003')
(16, datetime.datetime(2022, 5, 21, 17, 24, 30), 1, '0049', '0009', 5.0, 20.0, 45.0, 1, 'C003')
(17, datetime.datetime(2022, 5, 21, 17, 27, 7), 1, '0051', '0011', 10.0, 30.0, 90.0, 1, 'C004')
(18, datetime.datetime(2022, 5, 21, 17, 27, 35), 1, '0052', '0012', 15.0, 45.0, 135.0, 1, 'C004')
(19, datetime.datetime(2022, 5, 21, 17, 28, 6), 1, '0053', '0016', 15.5, 59.5, 139.5, 1, 'C004')
(20, datetime.datetime(2022, 5, 21, 17, 28, 39), 1, '0054', '0018', 12.0, 28.0, 108.0, 1, 'C005')
(21, datetime.datetime(2022, 5, 21, 17, 29, 1), 1, '0056', '0019', 12.0, 8.0, 108.0, 1, 'C006')
(22, datetime.datetime(2022, 5, 21, 17, 29, 37), 1, '0055', '0020', 15.0, 35.0, 135.0, 1, 'C004')
(23, datetime.datetime(2022, 5, 21, 17, 30, 6), 1, '0057', '0022', 15.0, 15.0, 135.0, 1, 'C005')
(24, datetime.datetime(2022, 5, 21, 17, 30, 34), 1, '0058', '0024', 12.0, 28.0, 108.0, 1, 'C005')
(25, datetime.datetime(2022, 5, 21, 17, 30, 54), 1, '0059', '0026', 15.0, 35.0, 135.0, 1, 'C006')
(26, datetime.datetime(2022, 5, 21, 17, 31, 18), 1, '0061', '0029', 2.5, 2.5, 22.5, 1, 'C004')
(27, datetime.datetime(2022, 5, 21, 17, 31, 36), 1, '0062', '0020', 5.0, 15.0, 45.0, 1, 'C005')

menu

In [4]:
get_viewmenu()

('0001', 'Espresso', 35, 20, 'Hot', 'Coffee')
('0002', 'Espresso', 55, 25, 'Cold', 'Coffee')
('0003', 'Espresso', 60, 30, 'Frappe', 'Coffee')
('0004', 'Espresso Con Panna', 45, 25, 'Hot', 'Coffee')
('0005', 'Espresso Con Panna', 65, 30, 'Cold', 'Coffee')
('0006', 'Espresso Con Panna', 70, 35, 'Frappe', 'Coffee')
('0007', 'Americano', 50, 30, 'Hot', 'Coffee')
('0008', 'Americano', 55, 35, 'Cold', 'Coffee')
('0009', 'Americano', 60, 40, 'Frappe', 'Coffee')
('0010', 'Long Black', 50, 30, 'Hot', 'Coffee')
('0011', 'Long Black', 55, 35, 'Cold', 'Coffee')
('0012', 'Long Black', 60, 40, 'Frappe', 'Coffee')
('0013', 'Latte', 50, 30, 'Hot', 'Coffee')
('0014', 'Latte', 65, 35, 'Cold', 'Coffee')
('0015', 'Latte', 70, 40, 'Frappe', 'Coffee')
('0016', 'Piccolo', 50, 20, 'Hot', 'Coffee')
('0017', 'Piccolo', 55, 25, 'Cold', 'Coffee')
('0018', 'Piccolo', 60, 30, 'Frappe', 'Coffee')
('0019', 'Cappuccino', 45, 25, 'Hot', 'Coffee')
('0020', 'Cappuccino', 60, 30, 'Cold', 'Coffee')
('0021', 'Cappuccino', 65, 35, 'Frappe', 'Coffee')
('0022', 'Mocha', 50, 25, 'Hot', 'Coffee')
('0023', 'Mocha', 60, 30, 'Cold', 'Coffee')
('0024', 'Mocha', 70, 35, 'Frappe', 'Coffee')
('0025', 'White Mocha', 55, 30, 'Hot', 'Coffee')
('0026', 'White Mocha', 65, 35, 'Cold', 'Coffee')
('0027', 'White Mocha', 75, 40, 'Frappe', 'Coffee')
('0028', 'Macchiato', 50, 25, 'Hot', 'Coffee')
('0029', 'Macchiato', 60, 30, 'Cold', 'Coffee')
('0030', 'Macchiato', 70, 35, 'Frappe', 'Coffee')
('0031', 'Caramel Macchiato', 55, 30, 'Hot', 'Coffee')
('0032', 'Caramel Macchiato', 65, 35, 'Cold', 'Coffee')
('0033', 'Caramel Macchiato', 75, 40, 'Frappe', 'Coffee')
('0034', 'Italian soda', 50, 20, 'Cold', 'Coffee')
('0035', 'Chocolate', 45, 25, 'Hot', 'Coffee')
('0036', 'Chocolate', 50, 30, 'Cold', 'Coffee')
('0037', 'Chocolate', 55, 35, 'Frappe', 'Coffee')
('0038', 'Dark Chocolate', 50, 30, 'Hot', 'Milk-Chocolate')
('0039', 'Dark Chocolate', 55, 35, 'Cold', 'Milk-Chocolate')
('0040', 'Dark Chocolate', 60, 40, 'Frappe', 'Milk-Chocolate')
('0042', 'Green Tea', 40, 15, 'Hot', 'Tea')
('0043', 'Green Tea', 45, 20, 'Cold', 'Tea')
('0044', 'Green Tea', 50, 25, 'Frappe', 'Tea')
('0045', 'Milk Tea', 45, 20, 'Hot', 'Tea')
('0046', 'Milk Tea', 50, 25, 'Cold', 'Tea')
('0047', 'Milk Tea', 55, 30, 'Frappe', 'Tea')
('0048', 'Thai Tea', 45, 20, 'Hot', 'Tea')
('0049', 'Thai Tea', 50, 25, 'Cold', 'Tea')
('0050', 'Thai Tea', 55, 30, 'Frappe', 'Tea')
('0051', 'Mango Sticky Rice', 100, 60, 'Dessert', 'Dessert')
('0052', 'Strawberry Pancake', 150, 90, 'Dessert', 'Dessert')
('0053', 'Choc Banana Pancake', 155, 80, 'Dessert', 'Dessert')
('0054', 'Macaron', 120, 80, 'Dessert', 'Dessert')
('0055', 'Pudding', 150, 100, 'Dessert', 'Dessert')
('0056', 'Butter Cake', 120, 100, 'Dessert', 'Dessert')
('0057', 'Whole Wheat Bread', 150, 120, 'Dessert', 'Dessert')
('0058', 'strawberry cheese pie', 120, 80, 'Dessert', 'Dessert')
('0059', 'Blueberry Cheese Pie', 150, 100, 'Dessert', 'Dessert')
('0060', 'Honey Toast', 150, 80, 'Dessert', 'Dessert')
('0061', 'Toast', 25, 20, 'Dessert', 'Dessert')
('0062', 'Waffle', 50, 30, 'Dessert', 'Dessert')
('0063', 'Cheese cake', 125, 80, 'Dessert', 'Dessert')
('0064', 'Custard Cake', 60, 40, 'Dessert', 'Dessert')
('0065', 'Cookie', 150, 90, 'Dessert', 'Dessert')
('0066', 'Brownie', 80, 50, 'Dessert', 'Dessert')
('0067', 'Pancake', 40, 20, 'Dessert', 'Dessert')
('0068', 'Banana Cake', 40, 20, 'Dessert', 'Dessert')
('0069', 'Muffin', 90, 30, 'Dessert', 'Dessert')
('0070', 'Roll Cake', 50, 30, 'Dessert', 'Dessert')
('0071', 'Basque Cheesecake', 250, 100, 'Dessert', 'Dessert')
('0073', 'Mango', 100, 80, 'Frappe', 'Smoothies')

In [9]:
get_viewcustomer()

('0000', 'No member', 'No member', 0, 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนาค', 20, 5, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 10, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 14, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 22, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 13, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 2, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 3, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 1, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 8, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 4, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 15, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 12, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 3, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 11, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 2, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 6, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 12, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 2, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 5, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 8, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 11, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 14, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 17, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 20, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 11, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 2, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 6, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 23, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 35, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 3, 'ชาย')

#  Add order

In [42]:
x='yes'
while x.lower()=='yes':
    from datetime import datetime
    def get_datetime():
        now = datetime.now()
        current_time = now.strftime("%Y-%m-%d %H:%M:%S") 
        print(current_time)
        return (current_time)
    datetime=get_datetime()
    menu_id=get_menu()
    quantity=int(input('Quantity:'))
    price=get_menuprice(menu_id)
    name=get_menuname(menu_id)
    cost=get_cost(menu_id) 
    customer_id=get_member()
    discount,order_point=get_discount(customer_id)
    profit,amount=get_profit()
    store_id=input('store_id:')
    insert_order(datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id)
    print_slip()
    get_customerpoint(customer_id)
    get_viewlastorder()
    x=input("more order? yes or no")
    while x!='yes' and x!='no':
        x=input("more order? yes or no")

2022-05-21 17:27:07
Menu ID 4number xxxx:0051
Quantity:1
price: 100
name: Mango Sticky Rice
cost: 60
customer_id 4number xxxx:0011
discount 10.0
store_id:C004
********************************
customer ID 0011
menu: Mango Sticky Rice
Quantity 1
Price 100
Total before discount 100
Discount 10.0
Amount 90.0
Point 1
********************************
Customer point: 1
(17, datetime.datetime(2022, 5, 21, 17, 27, 7), 1, '0051', '0011', 10.0, 30.0, 90.0, 1, 'C004')
more order? yes or noyes
2022-05-21 17:27:35
Menu ID 4number xxxx:0052
Quantity:1
price: 150
name: Strawberry Pancake
cost: 90
customer_id 4number xxxx:0012
discount 15.0
store_id:C004
********************************
customer ID 0012
menu: Strawberry Pancake
Quantity 1
Price 150
Total before discount 150
Discount 15.0
Amount 135.0
Point 1
********************************
Customer point: 1
(18, datetime.datetime(2022, 5, 21, 17, 27, 35), 1, '0052', '0012', 15.0, 45.0, 135.0, 1, 'C004')
more order? yes or noyes
2022-05-21 17:28:06
Menu ID 4number xxxx:0053
Quantity:1
price: 155
name: Choc Banana Pancake
cost: 80
customer_id 4number xxxx:0016
discount 15.5
store_id:C004
********************************
customer ID 0016
menu: Choc Banana Pancake
Quantity 1
Price 155
Total before discount 155
Discount 15.5
Amount 139.5
Point 1
********************************
Customer point: 1
(19, datetime.datetime(2022, 5, 21, 17, 28, 6), 1, '0053', '0016', 15.5, 59.5, 139.5, 1, 'C004')
more order? yes or noyes
2022-05-21 17:28:39
Menu ID 4number xxxx:0054
Quantity:1
price: 120
name: Macaron
cost: 80
customer_id 4number xxxx:0018
discount 12.0
store_id:C005
********************************
customer ID 0018
menu: Macaron
Quantity 1
Price 120
Total before discount 120
Discount 12.0
Amount 108.0
Point 1
********************************
Customer point: 1
(20, datetime.datetime(2022, 5, 21, 17, 28, 39), 1, '0054', '0018', 12.0, 28.0, 108.0, 1, 'C005')
more order? yes or noyes
2022-05-21 17:29:01
Menu ID 4number xxxx:0056
Quantity:1
price: 120
name: Butter Cake
cost: 100
customer_id 4number xxxx:0019
discount 12.0
store_id:C006
********************************
customer ID 0019
menu: Butter Cake
Quantity 1
Price 120
Total before discount 120
Discount 12.0
Amount 108.0
Point 1
********************************
Customer point: 1
(21, datetime.datetime(2022, 5, 21, 17, 29, 1), 1, '0056', '0019', 12.0, 8.0, 108.0, 1, 'C006')
more order? yes or noyes
2022-05-21 17:29:37
Menu ID 4number xxxx:0055
Quantity:1
price: 150
name: Pudding
cost: 100
customer_id 4number xxxx:0020
discount 15.0
store_id:C004
********************************
customer ID 0020
menu: Pudding
Quantity 1
Price 150
Total before discount 150
Discount 15.0
Amount 135.0
Point 1
********************************
Customer point: 1
(22, datetime.datetime(2022, 5, 21, 17, 29, 37), 1, '0055', '0020', 15.0, 35.0, 135.0, 1, 'C004')
more order? yes or noyes
2022-05-21 17:30:06
Menu ID 4number xxxx:0057
Quantity:1
price: 150
name: Whole Wheat Bread
cost: 120
customer_id 4number xxxx:0022
discount 15.0
store_id:C005
********************************
customer ID 0022
menu: Whole Wheat Bread
Quantity 1
Price 150
Total before discount 150
Discount 15.0
Amount 135.0
Point 1
********************************
Customer point: 1
(23, datetime.datetime(2022, 5, 21, 17, 30, 6), 1, '0057', '0022', 15.0, 15.0, 135.0, 1, 'C005')
more order? yes or noyes
2022-05-21 17:30:34
Menu ID 4number xxxx:0058
Quantity:1
price: 120
name: strawberry cheese pie
cost: 80
customer_id 4number xxxx:0024
discount 12.0
store_id:C005
********************************
customer ID 0024
menu: strawberry cheese pie
Quantity 1
Price 120
Total before discount 120
Discount 12.0
Amount 108.0
Point 1
********************************
Customer point: 1
(24, datetime.datetime(2022, 5, 21, 17, 30, 34), 1, '0058', '0024', 12.0, 28.0, 108.0, 1, 'C005')
more order? yes or noyes
2022-05-21 17:30:54
Menu ID 4number xxxx:0059
Quantity:1
price: 150
name: Blueberry Cheese Pie
cost: 100
customer_id 4number xxxx:0026
discount 15.0
store_id:C006
********************************
customer ID 0026
menu: Blueberry Cheese Pie
Quantity 1
Price 150
Total before discount 150
Discount 15.0
Amount 135.0
Point 1
********************************
Customer point: 1
(25, datetime.datetime(2022, 5, 21, 17, 30, 54), 1, '0059', '0026', 15.0, 35.0, 135.0, 1, 'C006')
more order? yes or noyes
2022-05-21 17:31:18
Menu ID 4number xxxx:0061
Quantity:1
price: 25
name: Toast
cost: 20
customer_id 4number xxxx:0029
discount 2.5
store_id:C004
********************************
customer ID 0029
menu: Toast
Quantity 1
Price 25
Total before discount 25
Discount 2.5
Amount 22.5
Point 1
********************************
Customer point: 1
(26, datetime.datetime(2022, 5, 21, 17, 31, 18), 1, '0061', '0029', 2.5, 2.5, 22.5, 1, 'C004')
more order? yes or noyes
2022-05-21 17:31:36
Menu ID 4number xxxx:0062
Quantity:1
price: 50
name: Waffle
cost: 30
customer_id 4number xxxx:0020
discount 5.0
store_id:C005
********************************
customer ID 0020
menu: Waffle
Quantity 1
Price 50
Total before discount 50
Discount 5.0
Amount 45.0
Point 1
********************************
Customer point: 2
(27, datetime.datetime(2022, 5, 21, 17, 31, 36), 1, '0062', '0020', 5.0, 15.0, 45.0, 1, 'C005')
more order? yes or nono

In [23]:
def insert_order(order_id,datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id):
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO order_record \
    (order_id,Datetime,Quantity, Menu_id, Customer_id,Discount,Profit,Amount,Order_point,Store_id)\
    VALUES (?,?,?,?,?,?,?,?,?)",(order_id,datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id))
    cnxn.commit()

# Add menu

In [4]:
def add_menu():
    menu_id=input('Menu_id 4 digit:')
    menu_name=input('Menu_name:')
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    menu_cost=int(input('Menu_cost int:'))
    menu_type=input('Menu_Type Drink: Hot/Cold/Frappe or Dessert:')
    menu_categories=input('Coffee/Milk-Chocolate/Smoothies/Tea/Dessert')
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO menu\
    (Menu_id,Menu_name,Menu_SellingPrice,Menu_cost,Menu_Type,Menu_Categories)\
    VALUES (?,?,?,?,?,?)",(menu_id,menu_name,menu_sellingPrice,menu_cost,menu_type,menu_categories))
    cnxn.commit()

In [264]:
add_menu()

Menu_id 4 digit:0073
Menu_name:Mango
Menu_SellingPrice int:100
Menu_cost int:80
Menu_Type Drink: Hot/Cold/Frappe or Dessert:Frappe
Coffee/Milk-Chocolate/Smoothies/Tea/DessertSmoothies

# Add Store

In [5]:
def add_store():
    store_id=input('store_id 4 digit Cxxx:')
    store_name=input('store_name:')
    Store_province=input('Store_province:')
    
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO store\
    (store_id,store_name,Store_province)\
    VALUES (?,?,?)",(store_id,store_name,Store_province))
    cnxn.commit()

In [125]:
add_store() #('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

store_id 4 digit Cxxx:C030
store_name:Coffee's บิ๊กซีบางใหญ่
Store_province:นนทบุรี

# Add customer

In [115]:
def add_customer():
    customer_id=input('customer_id 4 digit:')
    Customer_firstname=input('Customer_firstname:')
    Customer_lastname=input('Customer_lastname:')
    Customer_age=int(input('Customer_age:'))
    Customer_gender=input('Customer_gender:')
                      
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO customer\
    (customer_id,Customer_firstname,Customer_lastname,Customer_age,Customer_gender)\
    VALUES (?,?,?,?,? )",(customer_id,Customer_firstname,Customer_lastname,Customer_age,Customer_gender))
    cnxn.commit()

In [ ]:
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย', 2005)

In [ ]:
add_customer()

# Update menu

Menu Price

In [7]:
def update_menuprice():
    menu_id=input('Menu_id 4 digit:')
    menu_oldsellingPrice=get_menuprice(menu_id)
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET Menu_SellingPrice =? \
                WHERE Menu_SellingPrice =? \
                AND Menu_id =?;"\
             ,(menu_sellingPrice,menu_oldsellingPrice,menu_id))
    cnxn.commit()
    print('New price is:',get_menuprice(menu_id))

In [45]:
update_menuprice()

Menu_id 4 digit:0073
price: 100
Menu_SellingPrice int:80
price: 80
New price is: 80

Menu Name

In [8]:
def update_Menuname():
    menu_id=input('Menu_id 4 digit:')
    menu_oldname=get_menuname(menu_id)
    menu_name=input('Menu_name:')
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET menu_name =? \
                WHERE menu_name =? \
                AND Menu_id =?;"\
             ,(menu_name,menu_oldname,menu_id))
    cnxn.commit()
    print('New menu name is:',get_menuname(menu_id))

update_Menuname()

# Menu cost

In [9]:
def update_menucost():
    menu_id=input('Menu_id 4 digit:')
    menu_oldcost = get_cost(menu_id)
    menu_cost=int(input('Menu_cost int:')) 
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET Menu_cost =? \
                WHERE Menu_cost =? \
                AND Menu_id =?;",(menu_cost,menu_oldcost,menu_id))
    cnxn.commit()
    print('New menu cost is:',get_cost(menu_id))

In [56]:
update_menucost()

Menu_id 4 digit:0073
cost: 100
Menu_cost int:60
cost: 60
New menu cost is: 60

# Store

# Store name

In [10]:

def update_Storename():
    store_id=get_store()
    store_oldname=get_storename(store_id)
    store_name=input('Store_name:')
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_name =? \
                WHERE Store_name =? \
                AND Store_id =?;"\
             ,(store_name,store_oldname,store_id))
    cnxn.commit()
    print('New store name is',get_storename(store_id))

In [98]:
update_Storename()

'Store_id 4 digit Cxxx:'C20
store_ID not in list
Plaese Enter Store ID agian:C020
name: Coffee's บิ๊กซีสุขาภิบาล31
Store_name:Coffee's บิ๊กซีสุขาภิบาล3
name: Coffee's บิ๊กซีสุขาภิบาล3
New store name is Coffee's บิ๊กซีสุขาภิบาล3

In [97]:
get_viewstore()

('C001', "Coffee's เซ็นทรัลพระราม3", 'กรุงเทพมหานคร')
('C002', "Coffee's เซ็นทรัลพระราม9", 'กรุงเทพมหานคร')
('C003', "Coffee's Centralนครราชสีมา", 'นครราชสีมา')
('C004', "Coffee's เซ็นทรัลศรีราชา", 'ชลบุรี')
('C005', "Coffee's เซ็นทรัลอยุธยา", 'พระนครศรีอยุธยา')
('C006', "Coffee's Centralมหาชัย", 'สมุทรสาคร')
('C007', "Coffee's เซ็นทรัลเชียงใหม่", 'เชียงใหม่')
('C008', "Coffee's UnitedCenter(สีลม)", 'กรุงเทพมหานคร')
('C009', "Coffee's สยามเซ็นเตอร์", 'กรุงเทพมหานคร')
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 'กรุงเทพมหานคร')
('C011', "Coffee's CentralWestgateบางใหญ่", 'กรุงเทพมหานคร')
('C012', "Coffee's เซ็นทรัลเวิลด์", 'กรุงเทพมหานคร')
('C013', "Coffee's CenterOneอนุสาวรีย์ชัยสมรภูมิ", 'กรุงเทพมหานคร')
('C014', "Coffee's Centralสุราษฎร์ธานี", 'สุราษฎร์ธานี')
('C015', "Coffee's Centralนครศรีธรรมราช", 'นครศรีธรรมราช')
('C016', "Coffee's เซ็นทรัลลาดพร้าวชั้นG", 'กรุงเทพมหานคร')
('C017', "Coffee's บิ๊กซีศรีนครินทร์", 'สมุทรปราการ')
('C018', "Coffee's บิ๊กซีพัทยาใต้", 'ชลบุรี')
('C019', "Coffee's บิ๊กซีอยุธยา", 'พระนครศรีอยุธยา')
('C020', "Coffee's บิ๊กซีสุขาภิบาล31", 'กรุงเทพมหานคร')
('C021', "Coffee's บิ๊กซีพระราม4", 'กรุงเทพมหานคร')
('C022', "Coffee's บิ๊กซีราชดำริ", 'กรุงเทพมหานคร')
('C023', "Coffee's บิ๊กซีนครปฐม", 'นครปฐม')
('C024', "Coffe's บิ๊กซีมหาชัย", 'สมุทรสาคร')
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 'กรุงเทพมหานคร')
('C026', "Coffee's บิ๊กซีเชียงราย2", 'เชียงราย')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

Store Province

In [11]:

def update_store_province():
    store_id=get_store()
    store_oldprovince=get_store_province(store_id)
    store_province=input('Store_province:')
    
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_province =? \
                WHERE Store_province =? \
                AND Store_id =?;"
             ,(store_province,store_oldprovince,store_id))
    cnxn.commit()
    print('New store province is',get_store_province(store_id))

In [111]:
update_store_province()

'Store_id 4 digit Cxxx:'กรุงเทพมหานคร
store_ID not in list
Plaese Enter Store ID agian:C020
province: กทม.
Store_province:กรุงเทพมหานคร
province: กรุงเทพมหานคร
New store province is กรุงเทพมหานคร

# Update customer

# First name

In [12]:
def update_cusfirstname():
    customer_id=input('Customer ID 4 digits:')
    cus_oldfirstname=get_cusfirstname(customer_id)
    cus_firstname=input('Customer Firstname:')

    cursor = cnxn.cursor()
    cursor.execute("UPDATE customer \
                SET customer_firstname =? \
                WHERE customer_firstname =? \
                AND customer_id =?;"
             ,(cus_firstname,cus_oldfirstname,customer_id))
    cnxn.commit()
    print('New customer firstname  is',get_cusfirstname(customer_id))

In [135]:
update_cusfirstname()

Customer ID 4 digits:0001
จารุวัน
Customer Firstname:จารุวรรณ
จารุวรรณ
New customer firstname  is จารุวรรณ

# Last name

In [13]:
def update_cuslastname():
    customer_id=input('Customer ID 4 digits:')
    cus_oldlastname=get_cuslastname(customer_id)
    cus_lastname=input('Customer Lastname:')

    cursor = cnxn.cursor()
    cursor.execute("UPDATE customer \
                SET customer_lastname =? \
                WHERE customer_lastname =? \
                AND customer_id =?;"
             ,(cus_lastname,cus_oldlastname,customer_id))
    cnxn.commit()
    print('New customer lastname  is',get_cuslastname(customer_id))

In [137]:
update_cuslastname()

Customer ID 4 digits:0001
เหลืองสีนาค
Customer Lastname:เหลืองสีนวล
เหลืองสีนวล
New customer lastname  is เหลืองสีนวล

Update age

In [22]:
def update_customer_age():
    customer_id=input('Customer ID 4 digits:')
    cus_oldage=get_customerage(customer_id)
    cus_age=input('Customer age:')

    cursor = cnxn.cursor()
    cursor.execute("UPDATE customer \
                SET customer_age =? \
                WHERE customer_age =? \
                AND customer_id =?;"
             ,(cus_age,cus_oldage,customer_id))
    cnxn.commit()
    print('New customer age is',get_customerage(customer_id))

In [23]:
update_customer_age()

Customer ID 4 digits:0001
20
Customer age:21
21
New customer age is 21

In [28]:
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย')

# Delete column Year of Birth

In [112]:
cursor = cnxn.cursor()
cursor.execute("ALTER TABLE customer \
 DROP column yearofbirth;")
cnxn.commit()
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')

 # Create Year of Birth column

In [31]:

cursor = cnxn.cursor()
cursor.execute("ALTER TABLE customer \
ADD COLUMN YearOfBirth int \
GENERATED ALWAYS AS (2022-Customer_age) STORED;")
cnxn.commit()
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no', 2022)
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง', 2001)
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย', 2008)
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง', 1985)
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง', 1991)
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง', 1988)
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง', 1992)
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง', 1993)
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง', 1994)
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง', 1995)
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง', 1996)
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง', 1997)
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง', 1998)
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง', 1999)
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง', 2000)
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง', 2001)
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง', 2002)
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง', 2003)
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง', 2005)
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง', 1985)
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง', 1991)
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย', 1988)
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย', 1992)
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย', 1993)
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย', 1994)
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย', 1995)
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง', 1996)
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย', 1997)
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย', 1998)
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย', 1999)
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย', 2005)

# Analytics

# View Royalty Customer

In [33]:
get_royalty()

('0003', Decimal('3'))
('0007', Decimal('3'))
('0020', Decimal('2'))
('0001', Decimal('2'))
('0006', Decimal('2'))
('0008', Decimal('2'))
('0009', Decimal('2'))
('0005', Decimal('1'))
('0011', Decimal('1'))
('0012', Decimal('1'))

# Promotion for Royalty Customer favorite Menu

In [34]:
fav_rayalty_menu()

customer menu
('0008', 'Americano', 1)
('0007', 'Americano', 1)
('0002', 'Espresso', 1)
0007
 None
customer menu
('0055', 'Pudding', 1)
('0062', 'Waffle', 1)
0020
 None
customer menu
('0001', 'Espresso', 1)
('0002', 'Espresso', 1)
0001
 None
customer menu
('0001', 'Espresso', 1)
('0010', 'Long Black', 1)
0006
 None
customer menu
('0036', 'Chocolate', 1)
('0044', 'Green Tea', 1)
0008
 None
customer menu
('0045', 'Milk Tea', 1)
('0049', 'Thai Tea', 1)
0009
 None
customer menu
('0003', 'Espresso', 1)
0005
 None
customer menu
('0051', 'Mango Sticky Rice', 1)
0011
 None
customer menu
('0052', 'Strawberry Pancake', 1)
0012
 None
customer menu
('0061', 'Toast', 1)
0029
 None

# Top sale order by store

In [35]:
view_topsale_bystore()

Revenue by Store
('C004', "Coffee's เซ็นทรัลศรีราชา", 522.0)
('C005', "Coffee's เซ็นทรัลอยุธยา", 396.0)
('C006', "Coffee's Centralมหาชัย", 243.0)
('C002', "Coffee's เซ็นทรัลพระราม9", 220.5)
('C003', "Coffee's Centralนครราชสีมา", 175.5)
('C023', "Coffee's บิ๊กซีนครปฐม", 135.0)
('C022', "Coffee's บิ๊กซีราชดำริ", 130.5)
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 54.0)
('C001', "Coffee's เซ็นทรัลพระราม3", 31.5)

# Best Seller Menu

In [44]:
def view_topsale_bymenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.menu_id,menu.menu_name,menu.menu_type,sum(quantity) as count FROM order_record  \
    INNER JOIN menu ON menu.menu_ID=order_record.menu_id \
    GROUP BY order_record.menu_id ORDER BY 4 DESC LIMIT 10")
    row = cursor.fetchone()
    print ("Best Seller Menu :")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [45]:
view_topsale_bymenu()

Best Seller Menu :
('0002', 'Espresso', 'Cold', Decimal('4'))
('0001', 'Espresso', 'Hot', Decimal('3'))
('0004', 'Espresso Con Panna', 'Hot', Decimal('2'))
('0003', 'Espresso', 'Frappe', Decimal('1'))
('0010', 'Long Black', 'Hot', Decimal('1'))
('0008', 'Americano', 'Cold', Decimal('1'))
('0007', 'Americano', 'Hot', Decimal('1'))
('0036', 'Chocolate', 'Cold', Decimal('1'))
('0044', 'Green Tea', 'Frappe', Decimal('1'))
('0045', 'Milk Tea', 'Hot', Decimal('1'))

# Top profit by Store

In [46]:
def view_topprofit_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(profit) as Rev FROM order_record  \
    INNER JOIN store ON store.Store_ID=order_record.Store_id \
    GROUP BY order_record.Store_id ORDER BY 3 DESC")
    row = cursor.fetchone()
    print ("Profit by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [47]:
view_topprofit_bystore()

Profit by Store
('C004', "Coffee's เซ็นทรัลศรีราชา", 172.0)
('C005', "Coffee's เซ็นทรัลอยุธยา", 86.0)
('C002', "Coffee's เซ็นทรัลพระราม9", 80.5)
('C003', "Coffee's Centralนครราชสีมา", 75.5)
('C022', "Coffee's บิ๊กซีราชดำริ", 60.5)
('C023', "Coffee's บิ๊กซีนครปฐม", 60.0)
('C006', "Coffee's Centralมหาชัย", 43.0)
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 24.0)
('C001', "Coffee's เซ็นทรัลพระราม3", 11.5)

In [101]:
def view_menu_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT Store_id, menu_id   from order_record  order by store_id  ")
    
    row = cursor.fetchone()
    print ("Menu by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [102]:
view_menu_bystore()

Menu by Store
('C001', '0001')
('C002', '0001')
('C002', '0010')
('C002', '0008')
('C002', '0007')
('C002', '0002')
('C003', '0036')
('C003', '0044')
('C003', '0045')
('C003', '0049')
('C004', '0051')
('C004', '0052')
('C004', '0053')
('C004', '0055')
('C004', '0061')
('C005', '0054')
('C005', '0057')
('C005', '0058')
('C005', '0062')
('C006', '0056')
('C006', '0059')
('C020', '0003')
('C022', '0001')
('C022', '0002')
('C023', '0002')
('C023', '0004')
('C023', '0004')

# ช่วงอายุของลูกค้า

In [99]:
def view_customer_agecount():
    cursor = cnxn.cursor()
    cursor.execute("SELECT customer_age , count(customer_age) as count \
                   from customer group by customer_age order by  count desc , customer_age ")
    row = cursor.fetchone()
    print ("ช่วงอายุของลูกค้า")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [100]:
view_customer_agecount()

ช่วงอายุของลูกค้า
(17, 2)
(21, 2)
(23, 2)
(24, 2)
(25, 2)
(26, 2)
(27, 2)
(28, 2)
(29, 2)
(30, 2)
(31, 2)
(34, 2)
(37, 2)
(0, 1)
(14, 1)
(19, 1)
(20, 1)
(22, 1)

# Delete table row by id

In [122]:
def delete_Customer(customer_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Customer WHERE Customer_id = ?;",(customer_id))
    cnxn.commit()
    print('Customer id =',customer_id,'was deleted')
       
def delete_Store(store_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Store WHERE Store_id =?;",(store_id) )
    cnxn.commit() 
    print('Store id =',store_id,'was deleted')

def delete_Menuid(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Menu WHERE Menu_id =?;",(menu_id))
    cnxn.commit()
    print('Menu id =',menu_id,'was deleted')

In [117]:
get_viewcustomer()

('0000', 'No member', 'No member', 0, 'no')
('0001', 'จารุวรรณ', 'เหลืองสีนวล', 21, 'หญิง')
('0002', 'ศิรินทิพย์', 'ชัยชนะ', 14, 'ชาย')
('0003', 'ณัฐมน', 'สุขเกษม', 37, 'หญิง')
('0004', 'เจษฎา', 'กอวังตะโก', 31, 'หญิง')
('0005', 'จุฑาทิพย์', 'ชาญศิริ', 34, 'หญิง')
('0006', 'สุพรรษา', 'ประเสริฐสม', 30, 'หญิง')
('0007', 'นูรีซัน', 'สุขสันต์', 29, 'หญิง')
('0008', 'วลัยลักษณ์', 'สัตถาผล', 28, 'หญิง')
('0009', 'เบญจมาภรณ์', 'หมูนสี', 27, 'หญิง')
('0010', 'ฉันชนก', 'เชิญขวัญ', 26, 'หญิง')
('0011', 'ธันยพร', 'หะพันธ์', 25, 'หญิง')
('0012', 'อารีรัตน์', 'ศิริพันธ์', 24, 'หญิง')
('0013', 'สุนิสา', 'ศุขห่วง', 23, 'หญิง')
('0014', 'เกวลิน', 'จูเปาะ', 22, 'หญิง')
('0015', 'กัญญารัตน์', 'ประสพสุข', 21, 'หญิง')
('0016', 'จิรัชญา', 'เสนานุช', 20, 'หญิง')
('0017', 'พรรธิดา', 'สืบจันทร์', 19, 'หญิง')
('0018', 'จุฑาทิพย์', 'วัณเพชร', 17, 'หญิง')
('0019', 'อุสรา', 'เจ็กแตงพะเนา', 37, 'หญิง')
('0020', 'กัลยา', 'พานทอง', 31, 'หญิง')
('0021', 'รจนา', 'ขวัญเมือง', 34, 'ชาย')
('0022', 'กัณฑิมา', 'รามมีชัย', 30, 'ชาย')
('0023', 'กาญจนา', 'นาสร้อย', 29, 'ชาย')
('0024', 'พอฤทัย', 'ลาภผล', 28, 'ชาย')
('0025', 'วราภรณ์', 'แซ่ลิ่ม', 27, 'ชาย')
('0026', 'ธิดารัตน์', 'วงศ์เสน', 26, 'หญิง')
('0027', 'กรรณิการ์', 'คงอาษา', 25, 'ชาย')
('0028', 'แอนนา', 'สมบูรณ์สิงห์', 24, 'ชาย')
('0029', 'วริศรา', 'วงเวียน', 23, 'ชาย')
('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย')

# Delete Customer

In [106]:
delete_Customer('0030') #('0030', 'ภัสสร', 'ศรีน้ำเงิน', 17, 'ชาย'  )

Customer id = 0030 was deleted

In [116]:
add_customer()

customer_id 4 digit:0030
Customer_firstname:ภัสสร
Customer_lastname:ศรีน้ำเงิน
Customer_age:17
Customer_gender:ชาย

# Delete Store

In [119]:
def delete_Store():
    cursor = cnxn.cursor()
    cursor.execute("DELETE FROM Store WHERE Store_id =?;",(store_id) )
    cnxn.commit() 
    print('Store id =',store_id,'was deleted')

In [126]:
get_viewstore()

('C001', "Coffee's เซ็นทรัลพระราม3", 'กรุงเทพมหานคร')
('C002', "Coffee's เซ็นทรัลพระราม9", 'กรุงเทพมหานคร')
('C003', "Coffee's Centralนครราชสีมา", 'นครราชสีมา')
('C004', "Coffee's เซ็นทรัลศรีราชา", 'ชลบุรี')
('C005', "Coffee's เซ็นทรัลอยุธยา", 'พระนครศรีอยุธยา')
('C006', "Coffee's Centralมหาชัย", 'สมุทรสาคร')
('C007', "Coffee's เซ็นทรัลเชียงใหม่", 'เชียงใหม่')
('C008', "Coffee's UnitedCenter(สีลม)", 'กรุงเทพมหานคร')
('C009', "Coffee's สยามเซ็นเตอร์", 'กรุงเทพมหานคร')
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 'กรุงเทพมหานคร')
('C011', "Coffee's CentralWestgateบางใหญ่", 'กรุงเทพมหานคร')
('C012', "Coffee's เซ็นทรัลเวิลด์", 'กรุงเทพมหานคร')
('C013', "Coffee's CenterOneอนุสาวรีย์ชัยสมรภูมิ", 'กรุงเทพมหานคร')
('C014', "Coffee's Centralสุราษฎร์ธานี", 'สุราษฎร์ธานี')
('C015', "Coffee's Centralนครศรีธรรมราช", 'นครศรีธรรมราช')
('C016', "Coffee's เซ็นทรัลลาดพร้าวชั้นG", 'กรุงเทพมหานคร')
('C017', "Coffee's บิ๊กซีศรีนครินทร์", 'สมุทรปราการ')
('C018', "Coffee's บิ๊กซีพัทยาใต้", 'ชลบุรี')
('C019', "Coffee's บิ๊กซีอยุธยา", 'พระนครศรีอยุธยา')
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 'กรุงเทพมหานคร')
('C021', "Coffee's บิ๊กซีพระราม4", 'กรุงเทพมหานคร')
('C022', "Coffee's บิ๊กซีราชดำริ", 'กรุงเทพมหานคร')
('C023', "Coffee's บิ๊กซีนครปฐม", 'นครปฐม')
('C024', "Coffe's บิ๊กซีมหาชัย", 'สมุทรสาคร')
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 'กรุงเทพมหานคร')
('C026', "Coffee's บิ๊กซีเชียงราย2", 'เชียงราย')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

In [123]:
delete_Store('C030') #('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')

Store id = C030 was deleted

# Delete Menu

In [130]:
get_viewmenu()

('0001', 'Espresso', 35, 20, 'Hot', 'Coffee')
('0002', 'Espresso', 55, 25, 'Cold', 'Coffee')
('0003', 'Espresso', 60, 30, 'Frappe', 'Coffee')
('0004', 'Espresso Con Panna', 45, 25, 'Hot', 'Coffee')
('0005', 'Espresso Con Panna', 65, 30, 'Cold', 'Coffee')
('0006', 'Espresso Con Panna', 70, 35, 'Frappe', 'Coffee')
('0007', 'Americano', 50, 30, 'Hot', 'Coffee')
('0008', 'Americano', 55, 35, 'Cold', 'Coffee')
('0009', 'Americano', 60, 40, 'Frappe', 'Coffee')
('0010', 'Long Black', 50, 30, 'Hot', 'Coffee')
('0011', 'Long Black', 55, 35, 'Cold', 'Coffee')
('0012', 'Long Black', 60, 40, 'Frappe', 'Coffee')
('0013', 'Latte', 50, 30, 'Hot', 'Coffee')
('0014', 'Latte', 65, 35, 'Cold', 'Coffee')
('0015', 'Latte', 70, 40, 'Frappe', 'Coffee')
('0016', 'Piccolo', 50, 20, 'Hot', 'Coffee')
('0017', 'Piccolo', 55, 25, 'Cold', 'Coffee')
('0018', 'Piccolo', 60, 30, 'Frappe', 'Coffee')
('0019', 'Cappuccino', 45, 25, 'Hot', 'Coffee')
('0020', 'Cappuccino', 60, 30, 'Cold', 'Coffee')
('0021', 'Cappuccino', 65, 35, 'Frappe', 'Coffee')
('0022', 'Mocha', 50, 25, 'Hot', 'Coffee')
('0023', 'Mocha', 60, 30, 'Cold', 'Coffee')
('0024', 'Mocha', 70, 35, 'Frappe', 'Coffee')
('0025', 'White Mocha', 55, 30, 'Hot', 'Coffee')
('0026', 'White Mocha', 65, 35, 'Cold', 'Coffee')
('0027', 'White Mocha', 75, 40, 'Frappe', 'Coffee')
('0028', 'Macchiato', 50, 25, 'Hot', 'Coffee')
('0029', 'Macchiato', 60, 30, 'Cold', 'Coffee')
('0030', 'Macchiato', 70, 35, 'Frappe', 'Coffee')
('0031', 'Caramel Macchiato', 55, 30, 'Hot', 'Coffee')
('0032', 'Caramel Macchiato', 65, 35, 'Cold', 'Coffee')
('0033', 'Caramel Macchiato', 75, 40, 'Frappe', 'Coffee')
('0034', 'Italian soda', 50, 20, 'Cold', 'Coffee')
('0035', 'Chocolate', 45, 25, 'Hot', 'Coffee')
('0036', 'Chocolate', 50, 30, 'Cold', 'Coffee')
('0037', 'Chocolate', 55, 35, 'Frappe', 'Coffee')
('0038', 'Dark Chocolate', 50, 30, 'Hot', 'Milk-Chocolate')
('0039', 'Dark Chocolate', 55, 35, 'Cold', 'Milk-Chocolate')
('0040', 'Dark Chocolate', 60, 40, 'Frappe', 'Milk-Chocolate')
('0042', 'Green Tea', 40, 15, 'Hot', 'Tea')
('0043', 'Green Tea', 45, 20, 'Cold', 'Tea')
('0044', 'Green Tea', 50, 25, 'Frappe', 'Tea')
('0045', 'Milk Tea', 45, 20, 'Hot', 'Tea')
('0046', 'Milk Tea', 50, 25, 'Cold', 'Tea')
('0047', 'Milk Tea', 55, 30, 'Frappe', 'Tea')
('0048', 'Thai Tea', 45, 20, 'Hot', 'Tea')
('0049', 'Thai Tea', 50, 25, 'Cold', 'Tea')
('0050', 'Thai Tea', 55, 30, 'Frappe', 'Tea')
('0051', 'Mango Sticky Rice', 100, 60, 'Dessert', 'Dessert')
('0052', 'Strawberry Pancake', 150, 90, 'Dessert', 'Dessert')
('0053', 'Choc Banana Pancake', 155, 80, 'Dessert', 'Dessert')
('0054', 'Macaron', 120, 80, 'Dessert', 'Dessert')
('0055', 'Pudding', 150, 100, 'Dessert', 'Dessert')
('0056', 'Butter Cake', 120, 100, 'Dessert', 'Dessert')
('0057', 'Whole Wheat Bread', 150, 120, 'Dessert', 'Dessert')
('0058', 'strawberry cheese pie', 120, 80, 'Dessert', 'Dessert')
('0059', 'Blueberry Cheese Pie', 150, 100, 'Dessert', 'Dessert')
('0060', 'Honey Toast', 150, 80, 'Dessert', 'Dessert')
('0061', 'Toast', 25, 20, 'Dessert', 'Dessert')
('0062', 'Waffle', 50, 30, 'Dessert', 'Dessert')
('0063', 'Cheese cake', 125, 80, 'Dessert', 'Dessert')
('0064', 'Custard Cake', 60, 40, 'Dessert', 'Dessert')
('0065', 'Cookie', 150, 90, 'Dessert', 'Dessert')
('0066', 'Brownie', 80, 50, 'Dessert', 'Dessert')
('0067', 'Pancake', 40, 20, 'Dessert', 'Dessert')
('0068', 'Banana Cake', 40, 20, 'Dessert', 'Dessert')
('0069', 'Muffin', 90, 30, 'Dessert', 'Dessert')
('0070', 'Roll Cake', 50, 30, 'Dessert', 'Dessert')
('0071', 'Basque Cheesecake', 250, 100, 'Dessert', 'Dessert')
('0073', 'Mango', 80, 60, 'Frappe', 'Smoothies')

In [128]:
delete_Menuid('0073') #('0073', 'Mango', 80, 60, 'Frappe', 'Smoothies')

Menu id = 0073 was deleted

In [129]:
add_menu()

Menu_id 4 digit:0073
Menu_name:Mango
Menu_SellingPrice int:80
Menu_cost int:60
Menu_Type Drink: Hot/Cold/Frappe or Dessert:Frappe
Coffee/Milk-Chocolate/Smoothies/Tea/DessertSmoothies