In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\witsaruw\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pyodbc

In [8]:
con_string = 'driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=cafe;uid=root;pwd=Acpz5999'

In [23]:
cnxn = pyodbc.connect(con_string)

Metadata Discovery

Select

Insert

Updbate and Delete

In [ ]:
pip install pyodbc

In [1]:
import pyodbc
cnxn = pyodbc.connect('driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=cafe;uid=root;pwd=Acpz5999')

In [21]:
#View
cursor = cnxn.cursor()
cursor.execute("SELECT * FROM  order_record")
row = cursor.fetchone() 
while row:
    print (row) 
    row = cursor.fetchone()

(1, datetime.datetime(2022, 1, 2, 0, 0), 2, '0001', '0001', 7.0, 23.0, 63.0, 1, 'C023')
(2, datetime.datetime(2022, 1, 22, 12, 0), 1, '0003', '0002', 6.0, 24.0, 54.0, 1, 'C001')
(3, datetime.datetime(2022, 5, 16, 13, 0), 1, '0003', '0004', 6.0, 24.0, 54.0, 1, 'C022')
(4, datetime.datetime(2022, 5, 16, 14, 0), 1, '0005', '0006', 6.5, 28.5, 58.5, 1, 'C025')
(5, datetime.datetime(2022, 5, 16, 16, 0), 3, '0005', '0007', 19.5, 85.5, 175.5, 1, 'C010')
(6, datetime.datetime(2022, 5, 16, 16, 0), 3, '0010', '0010', 15.0, 45.0, 135.0, 1, 'C020')

In [ ]:
Order_No, Datetime, Quantity, Menu_id, Customer_id,Discount,Profit,Amount,Order_point,Store_id

# Key order

In [15]:
def key_order():
    x='y'
    while x.lower()!='n':

        order_no=int(input('order_no(int) :'))
        datetime=input('Datetime(YYYY-MM-DD hh:mm:ss :)')
        quantity=int(input('quantity:'))
        menu_id=input('menu_id:')
        customer_id=input('customer_id:')
        cursor = cnxn.cursor()
        cursor.execute("SELECT Menu_SellingPrice , menu_cost FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone() 
        while row:
            print (row) 
            a,b=row
            row = cursor.fetchone()
        price=a
        cost=b
        if customer_id!='':
            discount=(quantity*a)*0.1
            order_point=1
        else:
            discount=0
            order_point=0
        amount=(price*quantity-discount) 
        profit= amount-(cost*quantity)   
        store_id=input('store_id:')  
        print('********************************')
        print('order no',order_no)
        print('customer ID',customer_id)
        print('Quantity',quantity)
        print('Price',price)
        print('Total before discount',price*quantity)
        print('Discount',discount)
        print('Amount',amount)
        print('Point',order_point)
        print('********************************')
        cursor.execute("INSERT INTO order_record \
        (Order_No, Datetime, Quantity, Menu_id, Customer_id,Discount,Profit,Amount,Order_point,Store_id)\
        VALUES (?,?,?,?,?,?,?,?,?,?)",(order_no,datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id))
        cnxn.commit()
        #View
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM  order_record WHERE Order_No=?",(order_no))
        row = cursor.fetchone() 
        while row:
            print (row) 
            row = cursor.fetchone()
        x=input('Y / N')

In [16]:
key_order()

order_no(int) :5
Datetime(YYYY-MM-DD hh:mm:ss :)2022-05-16 16:00:00
quantity:3
menu_id:0005
customer_id:0007
(65, 30)
store_id:C010
********************************
order no 5
customer ID 0007
Quantity 3
Price 65
Total before discount 195
Discount 19.5
Amount 175.5
Point 1
********************************
(5, datetime.datetime(2022, 5, 16, 16, 0), 3, '0005', '0007', 19.5, 85.5, 175.5, 1, 'C010')
Y / Ny
order_no(int) :6
Datetime(YYYY-MM-DD hh:mm:ss :)2022-05-16 16:00:00
quantity:3
menu_id:0010
customer_id:0010
(50, 30)
store_id:C020
********************************
order no 6
customer ID 0010
Quantity 3
Price 50
Total before discount 150
Discount 15.0
Amount 135.0
Point 1
********************************
(6, datetime.datetime(2022, 5, 16, 16, 0), 3, '0010', '0010', 15.0, 45.0, 135.0, 1, 'C020')
Y / Nn

In [7]:
#Insert data 
cursor.execute("INSERT INTO store VALUES ('C033','swsxxx','กรุงเทพ')")
cnxn.commit()

In [14]:
#Delete data
cursor.execute("DELETE FROM store WHERE Store_id='C032' ")
cnxn.commit()

In [69]:
 #View amount summary
cursor = cnxn.cursor()
cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(Amount) as Rev FROM order_record  \
INNER JOIN store ON store.Store_ID=order_record.Store_id \
GROUP BY order_record.Store_id ORDER BY 3 DESC")
row = cursor.fetchone()
print ("Revenue by Store")
while row:        
    print (row) 
    row = cursor.fetchone()

Revenue by Store
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 175.5)
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 135.0)
('C023', "Coffee's บิ๊กซีนครปฐม", 63.0)
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 58.5)
('C001', "Coffee's เซ็นทรัลพระราม3", 54.0)
('C022', "Coffee's บิ๊กซีราชดำริ", 54.0)

In [130]:
def get_price(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT Menu_SellingPrice , menu_cost FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone() 
    while row:
        a,b=row
        row = cursor.fetchone()
    return(a)
def get_cost(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT Menu_SellingPrice , menu_cost FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone() 
    while row:
        a,b=row
        row = cursor.fetchone()
    return(b)

In [131]:
a=get_price('0001')

In [129]:
a

35

In [132]:
b=get_cost('0001')

In [133]:
b

20

In [ ]:
def update_menu_price(menu_id,price):
    where menu_id = menu_id