In [1]:
pip install pyodbc

Requirement already satisfied: pyodbc in c:\users\nb\anaconda3\lib\site-packages (4.0.0-unsupported)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pyodbc
cnxn = pyodbc.connect('driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=project4002;uid=root;pwd=19971997jeeG')
cursor = cnxn.cursor()
cursor.execute("SELECT * FROM store ")
row = cursor.fetchone()
while row:
    print (row)
    row = cursor.fetchone()

('C001', "Coffee's เซ็นทรัลพระราม3", 'กรุงเทพมหานคร')
('C002', "Coffee's เซ็นทรัลพระราม9", 'กรุงเทพมหานคร')
('C003', "Coffee's Centralนครราชสีมา", 'นครราชสีมา')
('C004', "Coffee's เซ็นทรัลศรีราชา", 'ชลบุรี')
('C005', "Coffee's เซ็นทรัลอยุธยา", 'พระนครศรีอยุธยา')
('C006', "Coffee's Centralมหาชัย", 'สมุทรสาคร')
('C007', "Coffee's เซ็นทรัลเชียงใหม่", 'เชียงใหม่')
('C008', "Coffee's UnitedCenter(สีลม)", 'กรุงเทพมหานคร')
('C009', "Coffee's สยามเซ็นเตอร์", 'กรุงเทพมหานคร')
('C010', "Coffee's เซ็นจูรี่อนุสาวรีย์", 'กรุงเทพมหานคร')
('C011', "Coffee's CentralWestgateบางใหญ่", 'กรุงเทพมหานคร')
('C012', "Coffee's เซ็นทรัลเวิลด์", 'กรุงเทพมหานคร')
('C013', "Coffee's CenterOneอนุสาวรีย์ชัยสมรภูมิ", 'กรุงเทพมหานคร')
('C014', "Coffee's Centralสุราษฎร์ธานี", 'สุราษฎร์ธานี')
('C015', "Coffee's Centralนครศรีธรรมราช", 'นครศรีธรรมราช')
('C016', "Coffee's เซ็นทรัลลาดพร้าวชั้นG", 'กรุงเทพมหานคร')
('C017', "Coffee's บิ๊กซีศรีนครินทร์", 'สมุทรปราการ')
('C018', "Coffee's บิ๊กซีพัทยาใต้", 'ชลบุรี')
('C019', "Coffee's บิ๊กซีอยุธยา", 'พระนครศรีอยุธยา')
('C020', "Coffee's บิ๊กซีสุขาภิบาล3", 'กรุงเทพมหานคร')
('C021', "Coffee's บิ๊กซีพระราม4", 'กรุงเทพมหานคร')
('C022', "Coffee's บิ๊กซีราชดำริ", 'กรุงเทพมหานคร')
('C023', "Coffee's บิ๊กซีนครปฐม", 'นครปฐม')
('C024', "Coffe's บิ๊กซีมหาชัย", 'สมุทรสาคร')
('C025', "Coffee's บิ๊กซีสุขาภิบาล5", 'กรุงเทพมหานคร')
('C026', "Coffee's บิ๊กซีเชียงราย2", 'เชียงราย')
('C027', "Coffee's บิ๊กซีบางพลี", 'สมุทรปราการ')
('C028', "Coffee's บิ๊กซีเพชรเกษมextra", 'กรุงเทพมหานคร')
('C029', "Coffee's ทาวน์เซ็นเตอร์บิ๊กซีหัวหมาก", 'กรุงเทพมหานคร')
('C030', "Coffee's บิ๊กซีบางใหญ่", 'นนทบุรี')
('C031', 'GGGxxx', 'กรุงเทพ')
('C033', 'swsxxx', 'กรุงเทพ')
('C034', 'swsxxx', 'กรุงเทพ')
('C035', 'swsxxx', 'กรุงเทพ')

In [21]:
#View amount summary by Store name
import pyodbc
cnxn = pyodbc.connect('driver=MySQL ODBC 8.0 Unicode Driver;server=127.0.0.1;database=project4002;uid=root;pwd=19971997jeeG')
def view_topsale_bystore():
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.Store_id,store.Store_name,sum(Amount) as Rev FROM order_record  \
    INNER JOIN store ON store.Store_ID=order_record.Store_id \
    GROUP BY order_record.Store_id ORDER BY 3 DESC")
    row = cursor.fetchone()
    print ("Revenue by Store")
    while row:        
        print (row) 
        row = cursor.fetchone()
#View
def get_viewlastorder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record ORDER BY order_no desc limit 1") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
        
def get_viewmenu():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  menu") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
def get_vieworder():
    cursor = cnxn.cursor()
    cursor.execute("SELECT * FROM  order_record") 
    row = cursor.fetchone() 
    while row:
        print (row) 
        row = cursor.fetchone()
def view_customer_menu(customer_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT order_record.menu_id , menu.menu_name, count(order_record.menu_id) as countmenu \
FROM order_record  \
JOIN menu ON menu.menu_ID=order_record.menu_id \
WHERE customer_id=? \
GROUP BY order_record.menu_id ORDER BY 3 DESC ",(customer_id))
    row = cursor.fetchone()
    print ("customer menu")
    while row:        
        print (row) 
        row = cursor.fetchone()

In [17]:
def get_menu():
    ID=False
    menu_id=input("Menu ID 4number xxxx:")
    while ID==False:
        
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone()
        if row!=None:
            ID=True
            return (menu_id)
        else:
            print("Menu ID not in list")
            menu_id=input("Plaese Enter Menu ID agian:")
    
def get_menuprice(menu_id):
        cursor = cnxn.cursor()
        cursor.execute("SELECT menu_SellingPrice FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone()
        while row:
            price=row[0]
            row = cursor.fetchone()
            print('price:',price)
            return(price)       
def get_menuname(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_name FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        name=row[0]
        row = cursor.fetchone()
        print('name:',name)
        return(name)
def get_cost(menu_id):
    cursor = cnxn.cursor()
    cursor.execute("SELECT menu_cost FROM menu WHERE menu_id=?",(menu_id))
    row = cursor.fetchone()
    while row:
        cost=row[0]
        row = cursor.fetchone()
        print('cost:',cost)
        return(cost)  
def get_member():
    CUS_ID=False
    customer_id=input("customer_id 4number xxxx:")
    if customer_id=='':
        customer_id='0000'
        return (customer_id)
    else:
        while CUS_ID==False:
            cursor = cnxn.cursor()
            cursor.execute("SELECT * FROM customer WHERE customer_id=?",(customer_id))
            row = cursor.fetchone()
            if row!=None:
                return (customer_id)
            else:
                print("customer id ID not in list")
                customer_id=input("Plaese Enter customer_id agian:")  

    
def get_discount(customer_id):
    if customer_id!='0000':
        discount=(quantity*price)*0.1
        order_point=1
        print('discount',discount)
        return (discount,order_point)
    else:
        discount=0
        order_point=0
        print('no discount',discount)
        return(discount,order_point)
def get_orderno():
        
        cursor = cnxn.cursor()
        cursor.execute("SELECT Order_NO FROM menu ")
        row = cursor.fetchone()
        while row:
            price=row[0]
            row = cursor.fetchone()
            print('price:',price)
            return(price) 
def get_profit():
    amount=(price*quantity-discount) 
    profit= amount-(cost*quantity)
    return (profit,amount)
def print_slip():
    print('********************************')
    print('customer ID',customer_id)
    print('menu:',name)
    print('Quantity',quantity)
    print('Price',price)
    print('Total before discount',price*quantity)
    print('Discount',discount)
    print('Amount',amount)
    print('Point',order_point)
    print('********************************')

def get_customerpoint(customer_id):
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id , SUM(order_point) From order_record WHERE customer_id=? ",(customer_id))
    row = cursor.fetchone()
    while row:        
        a,b=row
        row = cursor.fetchone()
        return (print("Customer point:",b))

def get_royalty():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 10 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        print(row)
        row = cursor.fetchone()


def get_royalty_list():
    cursor = cnxn.cursor()
    cursor.execute(" SELECT customer_id ,SUM(order_point) as accpoint \
                   From order_record \
                   GROUP By customer_id \
                   order by accpoint desc limit 11 ")
    row = cursor.fetchone()
    cus=[]
    while row:
        row = cursor.fetchone()
        cus.append(row)
    return(cus)
  

def royalty_list():
    id_list=get_royalty_list()
    royalty_list=[]
    i=0
    for i in range (len(id_list)-1):
        royalty_list.append(id_list[i][0])
    return (royalty_list)
def fav_rayalty_menu(): 
    id_list=get_royalty_list()
    i=0
    for i in range (len(id_list)-1):
        print(id_list[i][0],"\n",view_customer_menu(id_list[i][0]))

In [6]:
def get_menu():
    ID=False
    menu_id=input("Menu ID 4number xxxx:")
    while ID==False:
        
        cursor = cnxn.cursor()
        cursor.execute("SELECT * FROM menu WHERE menu_id=?",(menu_id))
        row = cursor.fetchone()
        if row!=None:
            ID=True
            return (menu_id)
        else:
            print("Menu ID not in list")
            menu_id=input("Plaese Enter Menu ID agian:")

In [22]:
def insert_order(order_id,datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id):
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO order_record \
    (order_id,Datetime,Quantity, Menu_id, Customer_id,Discount,Profit,Amount,Order_point,store_id)\
    VALUES (?,?,?,?,?,?,?,?,?,?)",(order_id,datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id))
    cnxn.commit()

In [54]:
x='yes'
while x.lower()=='yes':
    from datetime import datetime
    def get_datetime():
        now = datetime.now()
        current_time = now.strftime("%Y-%m-%d %H:%M:%S") 
        print(current_time)
        return (current_time)
    datetime=get_datetime()
    menu_id=get_menu()
    quantity=int(input('Quantity:'))
    price=get_menuprice(menu_id)
    name=get_menuname(menu_id)
    cost=get_cost(menu_id) 
    customer_id=get_member()
    discount,order_point=get_discount(customer_id)
    profit,amount=get_profit()
    store_id=input('store_id:')
    insert_order(datetime,quantity,menu_id,customer_id,discount,profit,amount,order_point,store_id)
    print_slip()
    get_customerpoint(customer_id)
    get_viewlastorder()
    x=input("more order? yes or no")
    while x!='yes' and x!='no':
        x=input("more order? yes or no")

2022-05-23 20:21:41
Menu ID 4number xxxx:004
Menu ID not in list
Plaese Enter Menu ID agian:0004
Quantity:2
price: 45
name: Espresso Con Panna
cost: 25
customer_id 4number xxxx:0001
discount 9.0
store_id:C002

TypeError: insert_order() missing 1 required positional argument: 'store_id'

# add

In [8]:

def add_order():
    order_id=input('order_id 4 digit:')
    menu_name=input('Menu_name:')
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    menu_cost=int(input('Menu_cost int:'))
    menu_type=input('Menu_Type Drink: Hot/Cold/Frappe or Dessert:')
    menu_categories=input('Coffee/Milk-Chocolate/Smoothies/Tea/Dessert')
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO menu\
    (Menu_id,Menu_name,Menu_SellingPrice,Menu_cost,Menu_Type,Menu_Categories)\
    VALUES (?,?,?,?,?,?)",(menu_id,menu_name,menu_sellingPrice,menu_cost,menu_type,menu_categories))
    cnxn.commit()

In [9]:

def add_menu():
    menu_id=input('Menu_id 4 digit:')
    menu_name=input('Menu_name:')
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    menu_cost=int(input('Menu_cost int:'))
    menu_type=input('Menu_Type Drink: Hot/Cold/Frappe or Dessert:')
    menu_categories=input('Coffee/Milk-Chocolate/Smoothies/Tea/Dessert')
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO menu\
    (Menu_id,Menu_name,Menu_SellingPrice,Menu_cost,Menu_Type,Menu_Categories)\
    VALUES (?,?,?,?,?,?)",(menu_id,menu_name,menu_sellingPrice,menu_cost,menu_type,menu_categories))
    cnxn.commit()

In [10]:
def add_store():
    store_id=input('store_id 4 digit Cxxx:')
    store_name=input('store_name:')
    Store_province=input('Store_province:')
    
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO store\
    (store_id,store_name,Store_province)\
    VALUES (?,?,?)",(store_id,store_name,Store_province))
    cnxn.commit()

In [26]:
def add_customer():
    customer_id=input('customer_id 4 digit:')
    Customer_firstname=input('Customer_firstname:')
    Customer_lastname=input('Customer_lastname:')
    Customer_age=int(input('Customer_age:'))
    Customer_points=int(input('Customer_points:'))
    Customer_gender=input('Customer_gender:')
                      
    cursor = cnxn.cursor()
    cursor.execute("INSERT INTO customer\
    (customer_id,Customer_firstname,Customer_lastname,Customer_age,Customer_points,Customer_gender)\
    VALUES (?,?,?,?,?,?)",(customer_id,Customer_firstname,Customer_lastname,Customer_age,Customer_points,Customer_gender))
    cnxn.commit()

# Delete

# update_menu

In [55]:
def update_Menuname():
    menu_id=input('Menu_id 4 digit:')
    menu_name=input('Menu_name:')
    menu_oldname=input('Menu Old Name:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET menu_name =? \
                WHERE menu_name =? \
                AND Menu_id =?;"\
             ,(menu_name,menu_oldname,menu_id))
    cnxn.commit()

In [18]:
def update_menuprice():
    menu_id=input('Menu_id 4 digit:')
    menu_sellingPrice=int(input('Menu_SellingPrice int:'))
    menu_oldsellingPrice=int(input('Menu Old SellingPrice int:'))
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET Menu_SellingPrice =? \
                WHERE Menu_SellingPrice =? \
                AND Menu_id =?;"\
             ,(menu_sellingPrice,menu_oldsellingPrice,menu_id))
    cnxn.commit()

In [13]:
def update_menuType():
    menu_id=input('Menu_id 4 digit:')
    menu_Type=input('Menu_Type:')
    menu_oldType=input('Menu Old Type:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET menu_Type =? \
                WHERE menu_Type =? \
                AND Menu_id =?;"\
             ,(menu_Type,menu_oldType,menu_id))
    cnxn.commit()

In [24]:
def update_MenuCategories():
    menu_id=input('Menu_id 4 digit:')
    menu_Categories=intinput('Menu_Categories:')
    menu_oldCategories=input('Menu Old Categories:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE menu \
                SET menu_Categories =? \
                WHERE menu_Categories =? \
                AND Menu_id =?;"\
             ,(menu_Categories,menu_oldCategories,menu_id))
    cnxn.commit()

# update_store

In [14]:
def update_Storename():
    Store_id=input('Store_id 4 digit Cxxx:')
    Store_name=input('Store_name:')
    Store_oldname=input('Store Old Name:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_name =? \
                WHERE Store_name =? \
                AND Store_id =?;"\
             ,(Store_name,Store_oldname,Store_id))
    cnxn.commit()

In [15]:
def update_Storeprovince():
    Store_id=input('Store_id 4 digit Cxxx:')
    Store_province=input('Store_province:')
    Store_oldprovince=input('Store Old Province:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Store \
                SET Store_province =? \
                WHERE Store_province =? \
                AND Store_id =?;"\
             ,(Store_province,Store_oldprovince,Store_id))
    cnxn.commit()

# # update_customer

In [16]:
def update_Customerfirstname():
    Customer_id=input('Customer_id 4 digit:')
    Customer_firstname=input('Customer_firstname:')
    Customer_oldfirstname=input('Customer Old firstname:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Customer \
                SET Customer_firstname =? \
                WHERE Customer_firstname =? \
                AND Customer_id =?;"\
             ,(Customer_firstname,Customer_oldfirstname,Customer_id))
    cnxn.commit()

In [8]:
def update_Customerlastname():
    Customer_id=input('Customer_id 4 digit:')
    Customer_lastname=input('Customer_lastname:')
    Customer_oldlastname=input('Customer Old lastname:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Customer \
                SET Customer_lastname =? \
                WHERE Customer_lastname =? \
                AND Customer_id =?;"\
             ,(Customer_lastname,Customer_oldlastname,Customer_id))
    cnxn.commit()

In [9]:
def update_CustomerAge():
    Customer_id=input('Customer_id 4 digit:')
    Customer_age=int(input('Customer_age:'))
    Customer_oldage=int(input('Customer Old age:'))
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Customer \
                SET Customer_age =? \
                WHERE Customer_age =? \
                AND Customer_id =?;"\
             ,(Customer_age,Customer_oldage,Customer_id))
    cnxn.commit()

In [10]:
def update_CustomerPoints():
    Customer_id=input('Customer_id 4 digit:')
    Customer_points=int(input('Customer_points:'))
    Customer_oldpoints=int(input('Customer Old points:'))
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Customer \
                SET Customer_points =? \
                WHERE Customer_points =? \
                AND Customer_id =?;"\
             ,(Customer_points,Customer_oldpoints,Customer_id))
    cnxn.commit()

In [56]:
def update_CustomerGender():
    Customer_id=input('Customer_id 4 digit:')
    Customer_gender=input('Customer_gender:')
    Customer_oldgender=input('Customer Old gender:')
     
    cursor = cnxn.cursor()
    cursor.execute("UPDATE Customer \
                SET Customer_gender =? \
                WHERE Customer_gender =? \
                AND Customer_id =?;"\
             ,(Customer_gender,Customer_oldgender,Customer_id))
    cnxn.commit()